.appWrapper {
  margin: 10px auto;
  max-width: 1500px;
  justify-content: center;
}


.signcard {
  width: calc((100vmin - 30px)/2);
  max-width: 260px;
  min-width: 50px;
  height: auto;
  display: inline-block;
  padding: 5px;
  margin: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
  transition: box-shadow 0.5s, transform 0.5s;
  background-color: rgb(92, 161, 207);
}

.signcard:hover {
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.4);
  transform: translateY(-3);
}

.center {
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

span {
  float: right;
  padding: 10px;
}

.topFix {
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav {
  background-color: rgb(92, 161, 207);
  color: rgb(251, 251, 251);
  font-weight: bold;
  font-size: 1.5em;
}

.jumbotron-fluid {
  background-image: url("./images/hypnotize.png");
  height: 250px;
  border-bottom: 20px double rgb(92, 161, 207);
}