html, body {
  font-family: 'Spicy Rice', cursive;
}

.nav, h3 {
  font-family: 'Allerta Stencil', sans-serif;
  text-align: center;
}

.appWrapper {
  margin: 10px auto;
  max-width: 1500px;
  justify-content: center;
}


.signcard {
  width: calc((100vw - 250px)/5);
  max-width: 260px;
  min-width: 95px;
  height: auto;
  display: inline-block;
  padding: 5px;
  margin: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
  transition: box-shadow 0.5s, transform 0.5s;
  background-color: rgb(92, 161, 207);
}

.signcard:hover {
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.4);
  transform: translateY(-3);
}

.signimg {
  width: 100%;
  height: auto;
  margin: auto;  
}

.mainTitle {
  text-align: center;
  margin: auto;
  padding-top: 30px;
  font-size: 4em;
}

span {
  float: right;
  padding: 10px;
}

.topFix {
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav {
  background-color: rgb(92, 161, 207);
  color: rgb(251, 251, 251);
  font-weight: bold;
  font-size: 1.5em;
}

.jumbotron-fluid {
  background-image: url("./images/hypnotize.png");
  height: 260px;
  border-bottom: 20px double rgb(92, 161, 207);
}

.shake {
  animation: shake 0.3s ease-in-out forwards;
}

@keyframes shake {
  0% {
    transform: translateX(0px)
  }
  33% {
      transform: translateX(-3px)
  }
  66% {
      transform: translateX(3px)
  }
  100% {
      transform: translateX(0px)
  }
}