html, body {
  font-family: 'Spicy Rice', cursive;
}

.score, h3 {
  font-family: 'Allerta Stencil', sans-serif;
  text-align: center;
}

.appWrapper {
  width: 100vw;
  max-width: 1500px;
  text-align: center;
}


.signcard {
  width: 240px;
  height: auto;
  padding: 5px;
  margin: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
  transition: box-shadow 0.5s, transform 0.5s;
  background-color: rgb(92, 161, 207);
  display: inline-block;
}

.signcard:hover {
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.4);
  transform: translateY(-3);
}

.signimg {
  width: 100%;
  height: auto; 
}

.mainTitle {
  text-align: center;
  margin: auto;
  padding-top: 30px;
  font-size: 4em;
}

span {
  float: right;
  padding: 10px;
}

.topFix {
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav {
  background-color: rgb(92, 161, 207);
  color: rgb(251, 251, 251);
  font-weight: bold;
  font-size: 1.5em;
}

.jumbotron-fluid {
  background-image: url("./images/hypnotize.png");
  height: 260px;
  border-bottom: 20px double rgb(92, 161, 207);
}

.shake {
  animation: shake 0.3s ease-in-out forwards;
}

.scoreLeft, .scoreRight {
  padding: 10px;
  display: inline-block;
  font-size: 1.2em;
  background-color: rgb(92, 161, 207);
  color: rgb(251, 251, 251);
}

@keyframes shake {
  0% {
    transform: translateX(0px)
  }
  33% {
      transform: translateX(-3px)
  }
  66% {
      transform: translateX(3px)
  }
  100% {
      transform: translateX(0px)
  }
}

@media only screen and (max-width: 700px) {
  .mainTitle{
    font-size: 2.5em;
    padding-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

  h3 {
    font-size: 1.2em;
    margin-left: 10px;
    margin-right: 10px;
  }

  #scorebar {
    width: 100%;
    position: fixed;
    top: 0px;
  }

  .scoreLeft {
    display: inline-block;
    width: 50%;
    padding: 10px;
  }

  .scoreRight {
    display: inline-block;
    width: 50%;
    padding: 10px;
  }

  .jumbotron-fluid {
    height: 220px;
  }

}